/**
 * Syntax highlighting styles
 */
.highlight {
  background: #00061F;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #00061F;
  }
// reference
// ["bg"] = "#00061F",
// ["fg"] = "#ceceee",
// ["bgdark"] = "#00001b",
// ["yellow"] = "#FFED05",
// ["red"] = "#6f0000",
// ["green"] = "#7bf000",
// ["cyan"] = "#00332B",
// ["pink"] = "#F88379",
// ["purple"] = "#90005e"
  .c     { color: #F88379; font-style: italic } // Comment
  .err   { color: #a61717; background-color: #e3d2d2 } // Error
  .k     { font-weight: bold } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: #F88379; font-style: italic } // Comment.Multiline
  .cp    { color: #F88379; font-weight: bold } // Comment.Preproc
  .c1    { color: #F88379; font-style: italic } // Comment.Single
  .cs    { color: #F88379; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #00332B; background-color: #fdd } // Generic.Deleted
  .gd .x { color: #00332B; background-color: #faa } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #6f0000 } // Generic.Error
  .gh    { color: #F88379 } // Generic.Heading
  .gi    { color: #00332B; background-color: #dfd } // Generic.Inserted
  .gi .x { color: #00332B; background-color: #afa } // Generic.Inserted.Specific
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .kc    { font-weight: bold } // Keyword.Constant
  .kd    { font-weight: bold } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: #ceceee; font-weight: bold } // Keyword.Type
  .m     { color: #7bf000 } // Literal.Number
  .s     { color: #90005e } // Literal.String
  .na    { color: #ceceee } // Name.Attribute
  .nb    { color: #ceceee } // Name.Builtin
  .nc    { color: #458; font-weight: bold } // Name.Class
  .no    { color: #ceceee } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: #900; font-weight: bold } // Name.Exception
  .nf    { color: #900; font-weight: bold } // Name.Function
  .nn    { color: #555 } // Name.Namespace
  .nt    { color: #FFED05 } // Name.Tag
  .nv    { color: #ceceee } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: #bbb } // Text.Whitespace
  .mf    { color: #7bf000 } // Literal.Number.Float
  .mh    { color: #7bf000 } // Literal.Number.Hex
  .mi    { color: #7bf000 } // Literal.Number.Integer
  .mo    { color: #7bf000 } // Literal.Number.Oct
  .sb    { color: #90005e } // Literal.String.Backtick
  .sc    { color: #90005e } // Literal.String.Char
  .sd    { color: #90005e } // Literal.String.Doc
  .s2    { color: #90005e } // Literal.String.Double
  .se    { color: #90005e } // Literal.String.Escape
  .sh    { color: #90005e } // Literal.String.Heredoc
  .si    { color: #90005e } // Literal.String.Interpol
  .sx    { color: #90005e } // Literal.String.Other
  .sr    { color: #90005e } // Literal.String.Regex
  .s1    { color: #90005e } // Literal.String.Single
  .ss    { color: #990073 } // Literal.String.Symbol
  .bp    { color: #7bf000} // Name.Builtin.Pseudo
  .vc    { color: #ceceee } // Name.Variable.Class
  .vg    { color: #ceceee } // Name.Variable.Global
  .vi    { color: #ceceee } // Name.Variable.Instance
  .il    { color: #7bf000 } // Literal.Number.Integer.Long
}
